@page
@model MyPhotosWEB.Pages.Photos.IndexModel

@{
    ViewData["Title"] = "Index";

    string afisare(string abc)
    {
        return "images/" + abc;
    }
}

<h1>Photos</h1>

<p>
    <a asp-page="Create">Create New</a>
</p>
<p>
    <b>Filter section</b>
</p>
<form method="post">
    <p>
        Name: <input type="text" name="SearchName" />
        Location: <input type="text" name="SearchLocation" />
        Description: <input type="text" name="SearchDescription" />
        @*Date:  <input type="date" name="SearchDate" />*@
        Clear Filter <input type="checkbox" name="DeleteFilter" />
        <center><input type="submit" value="Filter" /></center>
        <center><b>Results: </b> @Model.Counter | @Model.Filter</center>
    </p>
</form>

<table class="table">
    <thead>
        <tr>
            <th>
                <div>
                    Poza
                </div>
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Photos[0].Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Photos[0].Location)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Photos[0].Description)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Photos[0].Path)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Photos[0].Date)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Photos[0].UserUserId)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.Photos)
        {
            <tr>
                <td>
                    <img src="@afisare(item.Name)" width="100px" height="100px"/>
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Name)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Location)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Description)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Path)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Date)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.UserUserId)
                </td>
                <td>
                    <a asp-page="./Edit" asp-route-id="@item.PhotoId">Edit</a> |
                    <a asp-page="./Details" asp-route-id="@item.PhotoId">Details</a> |
                    <a asp-page="./Delete" asp-route-id="@item.PhotoId">Delete</a>
                </td>
            </tr>
        }
    </tbody>
</table>